.form__text{
    font:12px Monotype Corsiva;
    color:gray;
    margin:1px;
}
.form__text--large{
    margin:1px;
    font:16px Monotype Corsiva;
}
.wrapper{
    margin:50px 450px;
    width:400px;
    height:350 px;
}

.form, .frame{
    background-color: #E9E8E5;
}
.form__button{
    text-indent:280px;
    margin-right:15px;
}
.date-time__validation:valid+span:after {
    content: 'Successfully';
    color: green;
    }
.date-time__validation:invalid+span:after {
    content: 'Date or time are not set';
    color: red;
    }