.word{
    font:12px Monotype Corsiva;
    color:gray;
}
p{
    margin:1px;
    line-height: 5px;
    font:16px Monotype Corsiva;

}
div{
    width:400px;
    height:350 px;
    margin:50px 450px;

    background-color: #E9E5E5;
}
#button{
    text-indent:280px;
margin-right:15px;
}

input:valid+span:after {
    
        content: 'Successfully';
    color: green;
     
    
    }
    
input:invalid+span:after {
    
        content: 'Date or time are not set';
    color: red;
    }