th {
    font-weight: normal;
    color: #039;
    padding: 10px;
  }
  td {
    color: #669;
    border-top: 1px dashed #fff;
    padding: 10px;
    background:#ccddff;
  }
  tr:hover td {background: #99bcff;}
  .tablee{
      position: absolute;
padding-left: 550px;
padding-top: 180px;

  }